title{
    --background: transparent;
    background-image: linear-gradient(90deg,#622569 0%, rgba(255, 149, 0, 1) 50%, #f9d5e5 100%);
}

ion-datetime {
  --background: #fff1f2;
  --background-rgb: 255, 241, 242;

  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
}
